.main {
    .peoples {
        margin-top: 140px;

        h1 {
            text-align: center;
        }

        .peoples-item {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .peoples-btn{
           width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;

            button{
                width: 120px;
                height: 34px;
                background: #F4E041;
                color: black;
                border: none;
                border-radius: 80px;
                margin: 20px auto 0 auto;
                cursor: pointer;
            }
        }
    }

    .registration {
        margin-top: 140px;

        h1 {
            text-align: center;
        }

        .registration-form {
            width: 380px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;

            .inputText {
                width: 380px;
                height: 54px;
                color: #7E7E7E;
                font-size: 16px;
                font-weight: 400px;
                margin-top: 50px;
                border: 1px solid #D0CFCF;
                border-radius: 4px;
                padding: 0 16px;
                box-sizing: border-box;

                &:focus{
                    outline: none;
                }
            }

            .registration-form-regexpPhone_p {
                font-size: 12px;
                color: #7E7E7E;
                margin: 4px 0 0 10px;
            }

            .registration-form-specialty_p {
                margin: 25px 0 14px 0;
                font-size: 16px;
            }

            .registration-form_input {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-bottom: 11px;

                .inputRadio {
                    width: 20px;
                    height: 20px;
                }

                span {
                    margin-left: 10px;
                    font-size: 16px;
                }
            }
            .registration-form_inputFile{
                margin-top: 30px;
            }

            .registration-form-btn {
                width: 100px;
                height: 34px;
                background: #F4E041;
                border: none;
                border-radius: 80px;
                margin: 50px auto;
                cursor: pointer;

                &:hover{
                    background: #FFE302;
                }

                &:disabled{
                    background: #7E7E7E;
                    color: white;
                    cursor: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .main .peoples .peoples-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 580px) {
    .main .peoples .peoples-item {
       display: block;
       justify-content: space-evenly;
       align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .main{
        padding: 0 16px;
        box-sizing: border-box;
    }
    .main .registration .registration-form{
        width: 100%;
    }
    .main .registration .registration-form .inputText{
        width: 100%;
    }
}